{% load static %}

        <!-- Footer -->  
        <div class="footer-big">
            <div class="container">
                <div class="row">

                    <!-- About Us Information -->
                    <div class="col-md-3 col-sm-6">                           
                        <div class="f-logo">
                            <h2>Our<br>Offices</h2>                                                                    
                        </div>
                    </div>
                    
                    <!-- Recent Posts -->
                    <div>                        

                    </div>

                    <!-- Latest Tweet -->
                    <div>

                    </div>

                    <!-- Recent Works -->
                    <div class="col-md-3 col-sm-6 f-inner">   
                        <div class="col-sm-2">
                            <i class="fa fa-map-marker fa-lg"></i> 
                        </div>
                        <div class="col-sm-10">
                            <strong>Manaus</strong>
                            <div class="f-space"></div>
                            <address>                                
                                200 Djalma Batista, Chapada<br>                                
                                <abbr title="Phone">P:</abbr> (92) 00000-0000
                                first.last@example.com
                            </address>
                        </div>      
                    </div>                           

                </div>
            </div>
        </div>   

        <div id="footer">
            <div class="container">   
                <div class="row">                                                         
                    <!-- Copyright -->                                                       
                    <div class="col-sm-6 col-md-6 f-copyright">                        
                        <span>© Copyright BLOCKTRY - All Rights Reserved</span>                        
                    </div>                      
                    <div class="col-sm-6 col-md-6">
                        <!-- Social Icons -->                              
                        <ul class="footer-social">
                            <li><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a></li>
                            <li><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></li>
                            <li><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa-brands fa-discord fa-stack-1x fa-inverse"></i></span></a></li>
                            <li><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></span></a></li>
                        </ul>
                    </div>
                </div><!-- /row -->
            </div><!-- /container -->
        </div>        
        <!-- End Footer -->  