{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Header Background Parallax Image -->
<div id="about_bg">
    <div class="head-title">
        <h2>Contact</h2>                
    </div>  
</div>
<!-- End Header Background Parallax Image -->                

<!-- Contact Form (name, email, phone and message inputs for your email form "should change your email adress in contact.php file") -->     
<div class="bg-color padding-top-x2">
    <div class="container padding-bottom">
        <div class="col-lg-12" id="contact">                
            <div id="message"></div>
                <fieldset>
                    <div class="col-md-6">

                        <!-- Description -->                                        
                        <h3>We'd love to hear from you</h3>   
                        <br>                                     
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam dignissimos cum maxime similique minima soluta quidem vero adipisci natus. Impedit quos deleniti non omnis. Asperiores dolorum amet laboriosam ipsam laudantium.</p>
                        <br>
                        <div class="row">
                            <!-- Adress -->                       
                            <div class="col-sm-3 col-md-6">
                                <div class="col-sm-2 contact-icon">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <div class="col-sm-10">
                                    <span><b>Address</b></span> 
                                    <address>                            
                                        <small>
                                            190 Djalma Batista<br>
                                            Manaus, Amazonas                                                            
                                        </small>                               
                                    </address>             
                                </div>                   
                            </div>

                            <!-- Phone -->
                            <div class="col-sm-3 col-md-6">
                                <div class="col-sm-2 contact-icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="col-sm-10">
                                    <span><b>Phone</b></span>
                                    <address>                            
                                        <small>                                                           
                                            +55 (92) 90000-0000  
                                        </small>
                                    </address>            
                                </div>                    
                            </div>
                        </div>

                        <div class="row">
                            <!-- Fax -->
                            <div class="col-sm-3 col-md-6">
                                <div class="col-sm-2 contact-icon">
                                    <i class="fa fa-fax"></i>
                                </div>
                                <div class="col-sm-10">
                                    <span><b>Fax</b></span>
                                    <address>                            
                                        <small>
                                            +55 (0) 61 3 8376 6284                          
                                        </small>
                                    </address>
                                </div>
                            </div> 

                            <!-- Email -->
                            <div class="col-sm-3 col-md-6">
                                <div class="col-sm-2 contact-icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="col-sm-10">
                                    <span><b>Email</b></span>
                                    <address>                            
                                        <small>
                                           no-reply@yourdomain.com                    
                                        </small>
                                    </address>
                                </div>
                            </div>                                                                                        
                        </div>
                        <br>
                        <div class="row">                                            
                            <div class="col-sm-3 col-md-12">
                                <ul class="contact-social">
                                    <li><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a></li>
                                    <li><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></li>
                                    <li><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa-brands fa-discord fa-stack-1x fa-inverse"></i></span></a></li>
                                    <li><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa-brands fa-linkedin fa-stack-1x fa-inverse"></i></span></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6"> 
                        {% include 'partials/_alerts.html' %}
                        
                        <form action="{% url 'direct_message' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <!-- Name -->
                            <input name="name" type="text" id="name" size="30" placeholder="Name" required/>
                            <br />
                            <!-- Email -->
                            <input name="email" type="text" id="email" size="30" placeholder="Email" required/>
                            <br /> 
                            <!-- Phone -->
                            <input name="phone" type="text" id="phone" size="30" placeholder="Phone" required/>

                            <!-- Message -->                                                                        
                            <textarea name="comments" cols="40" rows="5" id="comments" placeholder="Message" required></textarea>

                            <!-- Submit Button -->                                        
                            <button type="submit" class="btn btn-default btn-submit submit">Submit</button>
                        </form>  
                    </div>
                                                                                        
                </fieldset>
        </div>
    </div>   
</div>          
<!-- End Contact Form -->

<!-- Google Map (adress on map can be changed in app.js file) -->
<div id="map-canvas"></div>
<!-- End Google Map -->


{% include 'partials/_footer.html' %}

{% endblock %}